body{
    background-image: url("image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color:black
    }
 header{
    color: aquamarine;
 }
 .reina-name{
    text-align: center;
 }
 h1{
    background-image: url("image/main.jpg");
    color: rgb(19, 6, 6);
    max-width: 50%;
    border: 1px solid black; 
 }
 .time-class{
    background-color: darkkhaki;
    max-width: 40%;
    color: black;
    border: 1px solid black;
    font-weight: 500;
    font-size: larger;
 }
main{
    background-image: url("image/main.jpg");
    text-align: justify;
    width: 85%;
    border: 1px solid black;
    white-space: normal;
    word-wrap: break-word;
    padding: 40px 40px;
}
html {
    scroll-behavior: smooth;
}
#links{
    background-image: url("image/main.jpg");
}
/* h1 {
   text-align:left; 
}
h2 {
    text-align:center;
 }
 h3 {
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 32px;
 }  */
.time-class{
    text-align: center;
}